@page
@model MyRazorApp.Pages.About
@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div>
        <h1>Sobre</h1>
    </div>
</body>

</html>